body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
  text-align: center;
}

.pai{
  background-color: lightgreen;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  font-size: 18px;
}

.filho{
  background-color: lightcoral;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

#pai-1{
  flex-direction: row;
  justify-content: flex-start;
}

#pai-2{
  flex-direction: row;
  justify-content: flex-end;
}

#pai-3{
  flex-direction: row;
  justify-content: center;
}

#pai-4{
  flex-direction: row;
  justify-content: space-between;
}

#pai-5{
  flex-direction: row;
  justify-content: space-evenly;
}

#pai-6{
  flex-direction: row;
  justify-content: space-around;
}

#pai-7{
  flex-direction: column;
  justify-content: flex-start;
}

#pai-8{
  flex-direction: column;
  justify-content: flex-end;
}

#pai-9{
  flex-direction: column;
  justify-content: center;
}

#pai-10{
  flex-direction: column;
  justify-content: space-between;
}

#pai-11{
  flex-direction: column;
  justify-content: space-evenly;
}

#pai-12{
  flex-direction: column;
  justify-content: space-around;
}