body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
  text-align: center;
}

div{
  border: 4px solid black;
  background-color: lightgreen;
  margin: 100px auto;
  padding: 20px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  text-align: justify;
}

#div-1{
  transform: rotate(45deg);
}

#div-2{
  transform: rotate(0.1225turn);
}

#div-3{
  transform: translate(400px, -100px);
}

#div-4{
  transform: scale(50%);
}

#div-5{
  transform: scale(200%);
}

#div-6{
  transform: skew(45deg,0deg);
}