body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2{
  text-align: center;
}

.pai{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 50px;
  gap: 30px;
  font-size: 20px;
}

.filho{
  background-color: orange;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

#pai-1 .filho:nth-child(2){
  background-color: blueviolet;
  color: white;
  position: static;
  top: 100px;
}

#pai-2 .filho:nth-child(2){
  background-color: blueviolet;
  color: white;
  position: relative;
  top: 60px;
  right: 100px;
}

#pai-3 .filho:nth-child(2){
  background-color: blueviolet;
  color: white;
  position: relative;
  top: 60px;
  right: 100px;
  z-index: -1;
}




