@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Honk&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumar+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&family=Rubik+Microbe&family=Rubik+Vinyl&display=swap');


body {
  font-family: Arial, sans-serif;
  font-family: "Roboto Condensed";
}


/*====== HEADER ======*/
header {
  position: relative;
}
.logo_twde {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.logo_twde img {
  max-height: 120px;
  margin-left: 100px;
  margin-top: 30px;
}
.menu {
  position: absolute;
  top: 50px;
  margin-right: 100px;
  right: 20px;
  z-index: 100;
}
.texto_carousel {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: white;
  z-index: 10;
  max-width: 80%;
  margin-left: 140px;
}
.texto_carousel h1 {
  font-weight: bold;
  font-size: 50px;
}
.texto_carousel h4{
  font-weight: bold;
  font-size: 35px;
}







/*====== MAIN ======*/
#quem_somos {
  max-height: 775px;
}
#mundo_twde {
  background-color: white;
  width: 600px;
  height: 600px;
  padding-left: 100px;
  padding-right: 5px;
}
#mundo_twde h2{
  font-size: 40px;
  margin-bottom: 60px;
  padding-right: 40px;
}
.twde-title {
  font-weight: bold;
}
.btn-ver-mais {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-ver-mais img {
  width: 100px;
}


.servico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
  width: 100%;
}
.servico h1 {
  font-size: 40px;
  font-weight: bold;
}
.icon-servico {
  width: auto;
  height: 120px;
}


.ajuda-title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.frase_ajuda{
  margin-left: 250px;
  font-size: 18px;
}
.telemovel{
  font-size: 26px;
}
.btn-fale-connosco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 700px;
}
.btn-fale-connosco img {
  width: 150px;
}


.agente_titulo {
  font-weight: bold;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 20px;
}
#agente_twde{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('imagens/banner-torne-se-um-agente.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
#agente_twde p{
  margin-left: 275px;
  margin-right: 275px;
  font-size: 20px;
}
.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-danger img {
  width: 150px;
}






/*====== FOOTER ======*/ 
footer {
  padding: 0px;
  margin: 0px;
}
footer .navbar {
  font-size: 16px;
  background-color: rgb(53, 52, 52);
  padding: 40px;
}
.certificados{
  margin-right: 250px;
  margin-left: 40px;
}
