h1, h3 {
  text-align: center;
}

.amarelo {
  background-color: yellow;
  color: blue;
  border: 5px dotted red;
  font-size: 8px;
}

.vermelho {
  background-color: red;
  color: white;
  border: 5px dotted yellow;
}