h1, h3 {
  text-align: center;
}

.amarelo {
  background-color: yellow;
  color: blue;
  border: 5px dotted red;
  font-size: 8px;
}

.vermelho {
  background-color: red;
  color: white;
  border: 5px dotted yellow;
}

#especial{
  border: 8px solid rgb(67, 255, 67);
  border-radius: 25px 0px 25px 0px;
  color: white;
  background-color: blue;
}